html{
  font-size: 62.5%;
}

body{
  font-size: 1.6rem;
  font-family: $sans-serif;
  color: #333333;
  line-height: 2rem;
  letter-spacing: .2rem;
  background-image: linear-gradient(to right bottom, #FBFFEA, #73ACAF);
}