.m-mt-0 {
  margin-top: 0rem;
}

.m-mb-0 {
  margin-bottom: 0rem;
}

.m-ml-0 {
  margin-left: 0rem;
}

.m-mr-0 {
  margin-right: 0rem;
}

.m-mt-1 {
  margin-top: 1rem;
}

.m-mb-1 {
  margin-bottom: 1rem;
}

.m-ml-1 {
  margin-left: 1rem;
}

.m-mr-1 {
  margin-right: 1rem;
}

.m-mt-2 {
  margin-top: 2rem;
}

.m-mb-2 {
  margin-bottom: 2rem;
}

.m-ml-2 {
  margin-left: 2rem;
}

.m-mr-2 {
  margin-right: 2rem;
}

.m-mt-3 {
  margin-top: 3rem;
}

.m-mb-3 {
  margin-bottom: 3rem;
}

.m-ml-3 {
  margin-left: 3rem;
}

.m-mr-3 {
  margin-right: 3rem;
}

.m-mt-4 {
  margin-top: 4rem;
}

.m-mb-4 {
  margin-bottom: 4rem;
}

.m-ml-4 {
  margin-left: 4rem;
}

.m-mr-4 {
  margin-right: 4rem;
}

.m-mt-5 {
  margin-top: 5rem;
}

.m-mb-5 {
  margin-bottom: 5rem;
}

.m-ml-5 {
  margin-left: 5rem;
}

.m-mr-5 {
  margin-right: 5rem;
}

.m-mt-6 {
  margin-top: 6rem;
}

.m-mb-6 {
  margin-bottom: 6rem;
}

.m-ml-6 {
  margin-left: 6rem;
}

.m-mr-6 {
  margin-right: 6rem;
}

.m-mt-7 {
  margin-top: 7rem;
}

.m-mb-7 {
  margin-bottom: 7rem;
}

.m-ml-7 {
  margin-left: 7rem;
}

.m-mr-7 {
  margin-right: 7rem;
}

.m-mt-8 {
  margin-top: 8rem;
}

.m-mb-8 {
  margin-bottom: 8rem;
}

.m-ml-8 {
  margin-left: 8rem;
}

.m-mr-8 {
  margin-right: 8rem;
}

.m-mt-9 {
  margin-top: 9rem;
}

.m-mb-9 {
  margin-bottom: 9rem;
}

.m-ml-9 {
  margin-left: 9rem;
}

.m-mr-9 {
  margin-right: 9rem;
}

.m-mt-10 {
  margin-top: 10rem;
}

.m-mb-10 {
  margin-bottom: 10rem;
}

.m-ml-10 {
  margin-left: 10rem;
}

.m-mr-10 {
  margin-right: 10rem;
}

.m-mt-11 {
  margin-top: 11rem;
}

.m-mb-11 {
  margin-bottom: 11rem;
}

.m-ml-11 {
  margin-left: 11rem;
}

.m-mr-11 {
  margin-right: 11rem;
}

.m-mt-12 {
  margin-top: 12rem;
}

.m-mb-12 {
  margin-bottom: 12rem;
}

.m-ml-12 {
  margin-left: 12rem;
}

.m-mr-12 {
  margin-right: 12rem;
}

.m-mt-13 {
  margin-top: 13rem;
}

.m-mb-13 {
  margin-bottom: 13rem;
}

.m-ml-13 {
  margin-left: 13rem;
}

.m-mr-13 {
  margin-right: 13rem;
}

.m-mt-14 {
  margin-top: 14rem;
}

.m-mb-14 {
  margin-bottom: 14rem;
}

.m-ml-14 {
  margin-left: 14rem;
}

.m-mr-14 {
  margin-right: 14rem;
}

.m-mt-15 {
  margin-top: 15rem;
}

.m-mb-15 {
  margin-bottom: 15rem;
}

.m-ml-15 {
  margin-left: 15rem;
}

.m-mr-15 {
  margin-right: 15rem;
}

.m-mt-16 {
  margin-top: 16rem;
}

.m-mb-16 {
  margin-bottom: 16rem;
}

.m-ml-16 {
  margin-left: 16rem;
}

.m-mr-16 {
  margin-right: 16rem;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Helvetica Neue", Arial, sans-serif;
  color: #333333;
  line-height: 2rem;
  letter-spacing: .2rem;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#FBFFEA), to(#73ACAF));
  background-image: linear-gradient(to right bottom, #FBFFEA, #73ACAF);
}

.m-footer {
  text-align: center;
  padding: 2rem;
  background-color: #ffffff;
}

.m-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: rgba(255, 255, 255, 0.4);
  width: 100%;
  max-width: calc(100% - (50% - (900px / 2)));
}

.m-row .m-row__header {
  width: 50%;
  position: relative;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.m-row .m-row__header .m-row__figure .m-row__image {
  width: 100%;
}

.m-row .m-row__body {
  width: 50%;
  padding: 3rem 1.6rem;
}

.m-row .m-row__body .m-row__title {
  font-family: "Times New Roman", serif;
  font-size: 4rem;
}

.m-row .m-row__body .m-row__height {
  color: #777777;
  font-size: 3rem;
}

.m-row .m-row__body .m-row__copy {
  line-height: 3.2rem;
}

.m-row.has-image-left {
  margin-left: auto;
  margin-right: 0;
  padding-right: calc(50% - (900px / 2));
}

.m-row.has-image-left .m-row__header {
  left: -10%;
}

.m-row.has-image-right {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  margin-right: auto;
  margin-left: 0;
  padding-left: calc(50% - (900px / 2));
}

.m-row.has-image-right .m-row__header {
  right: -10%;
}

@media screen and (max-width: 767px) {
  .m-row {
    display: block;
  }
  .m-row .m-row__header {
    width: 100%;
    -webkit-transform: initial;
            transform: initial;
    position: static;
  }
  .m-row .m-row__body {
    width: 100%;
  }
}

.m-page-title {
  font-family: "Times New Roman", serif;
  font-size: 6rem;
  background-color: rgba(255, 255, 255, 0.4);
}
/*# sourceMappingURL=style.css.map */